<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
  <!-- Admin Defined settings -->
  <appSettings>
    <!-- PasswordChangeEnabled: Provides password change page for users. Value must be "true" or "false" -->
    <add key="PasswordChangeEnabled" value="true"/>
    <!-- LocalHelp: Displays local help for users, instead of the web-based help. Value must be "true" or "false" -->
    <add key="LocalHelp" value="false"/>
    <!-- ShowDesktops: Displays or hides the Remote Desktops tab. Value must be "true" or "false" -->
    <add key="ShowDesktops" value="true"/>
    <!-- DefaultTSGateway: Admin can preset this to a given Gateway name, or set to "" for no gateway. -->
    <add key="DefaultTSGateway" value=""/>
    <!-- GatewayCredentialsSource: TS Gateway Authentication Type.
         Admins can preset this.
         0 = User Password
         1 = Smartcard
         4 = "Ask me later"
    -->
    <add key="GatewayCredentialsSource" value="4"/>
    <!-- Devices and resources: Preset the Checkbox values to either true or false -->
    <add key="xPrinterRedirection" value="true"/>
    <add key="xClipboard" value="true"/>
    <add key="xDriveRedirection" value="false"/>
    <add key="xPnPRedirection" value="false"/>
    <add key="xPortRedirection" value="false"/>
    <!--  Public/Private Mode Timeout for FBA -->
    <add key="PublicModeSessionTimeoutInMinutes" value="20"/>
    <add key="PrivateModeSessionTimeoutInMinutes" value="240"/>
    <!--  Checkbox to opt for optimized LAN experience -->
    <add key="ShowOptimizeExperience" value="true"/>
    <add key="OptimizeExperienceState" value="false"/>
    <add key="SmsToken" value="true"/>
    <add key="RadiusServer" value="127.0.0.1"/>
    <add key="RadiusSecret" value="helloworld"/>
    <add key="OTP" value="false"/>
    <add key="EnableSMS" value="true"/>
    <add key="EnableMail" value="false"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--
        The <authentication> section enables configuration
        of the security authentication mode used by
        ASP.NET to identify an incoming user.
    -->
    <!--
          To turn on Windows Authentication:
              - uncomment <authentication mode="Windows"/> section
              - and comment out:
              1) <authentication mode="Forms"> section.
              2) <modules> and <security> sections in <system.webServer> section at the end of the file.
              3) Optional: Windows Authentication will work in https.  However, to turn off https, disable 'Require SSL' for both RDWeb and RDWeb/Pages VDIR.
                 Launch IIS Manager UI, click on RDWeb VDIR, double click on SSL Settings in the middle pane, uncheck 'Require SSL' and
                 click Apply in the top right in the right pane.  Repeat the steps for RDWeb/Pages VDIR.
      -->
    <!--
      <authentication mode="Windows"/>
      -->
    <authentication mode="Forms">
      <forms loginUrl="default.aspx" name="TSWAAuthHttpOnlyCookie" protection="All" requireSSL="true"/>
    </authentication>
    <webParts>
      <personalization defaultProvider="TSPortalProvider">
        <providers>
          <add name="TSPortalProvider" type="Microsoft.TerminalServices.Publishing.Portal.TSPortalProvider"/>
        </providers>
        <authorization>
          <allow users="*" verbs="enterSharedScope"/>
        </authorization>
      </personalization>
    </webParts>
    <compilation targetFramework="4.5.1" debug="true">
      <assemblies>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication"/>
      <add name="RDWAFormsAuthenticationModule" type="Microsoft.TerminalServices.Publishing.Portal.FormAuthentication.TSFormsAuthentication"/>
    </modules>
    <security>
      <authentication>
        <windowsAuthentication enabled="false"/>
        <anonymousAuthentication enabled="true"/>
      </authentication>
    </security>
    <httpRedirect enabled="false"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TSPortalWebPart" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="6.0.0.0" newVersion="6.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- Deny all users to access the log directory -->
  <location path="log">
    <system.web>
      <authorization>
        <deny users="*"/>
        <!-- Denies all users -->
      </authorization>
    </system.web>
  </location>
  <location path="rdp">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="RDWAResourceFileHandler" path="rdp" verb="*" type="Microsoft.TerminalServices.Publishing.Portal.ResourceFileHandler" preCondition="integratedMode" allowPathInfo="true"/>
      </handlers>
    </system.webServer>
  </location>
</configuration>